.container {
  position: relative;
  min-height: 100svh;
  background: radial-gradient(
      1200px 800px at -10% 120%,
      rgba(57, 225, 255, 0.25),
      transparent 60%
    ),
    radial-gradient(
      1000px 600px at 90% -10%,
      rgba(255, 75, 214, 0.25),
      transparent 60%
    ),
    var(--bg);
  overflow: hidden;
  isolation: isolate;
}

.container::before {
  content: '';
  position: absolute;
  inset: -200% -80% 0%;
  background: repeating-linear-gradient(
      to right,
      var(--cyan) 0 1px,
      transparent 1px 120px
    ),
    repeating-linear-gradient(to top, var(--pink) 0 1px, transparent 1px 120px);
  transform: perspective(600px) rotateX(60deg) translateY(28%);
  transform-origin: bottom center;
  filter: drop-shadow(0 0 8px var(--pink)) drop-shadow(0 0 8px var(--cyan));
  opacity: 1.6;
  pointer-events: none;
  z-index: 0;

  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.25) 8%,
    rgba(0, 0, 0, 0.7) 18%,
    rgba(0, 0, 0, 1) 28%
  );
}

.container::after {
  content: '';
  position: absolute;
  inset: 0;
  background:
      /* LEFT — cyan */ repeating-linear-gradient(
      -60deg,
      var(--cyan) 0 2px,
      transparent 2px 120px
    ),
    /* LEFT — pink */
      repeating-linear-gradient(-60deg, var(--pink) 0 2px, transparent 2px 60px),
    /* RIGHT — cyan */
      repeating-linear-gradient(
        -60deg,
        var(--cyan) 0 2px,
        transparent 2px 120px
      ),
    /* RIGHT — pink */
      repeating-linear-gradient(-60deg, var(--pink) 0 2px, transparent 2px 60px);

  background-size: 22% 100%, 22% 100%, 22% 100%, 22% 100%;
  background-position: left top, left top, right top, right top;
  background-repeat: no-repeat;

  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 1) 67%,
    rgba(0, 0, 0, 1) 52%,
    rgba(0, 0, 0, 0) 62%,
    transparent 100%
  );

  mix-blend-mode: screen;
  pointer-events: none;
}
