* {
  margin: 0;
  padding: 0;
}

:root {
  --bg: #0a0b1e;
  --cyan: #39e1ff;
  --pink: #fa14c4;
  --text: #ea63f9;
  --navlink: #ffd4ff;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
